@tailwind base;
@tailwind components;
@tailwind utilities;

.catoBack{
    background-color: #eaeded;
}

.background{
    background: rgb(77,190,0);
    background: linear-gradient(202deg, rgba(97, 216, 17, 0.848) 0%, rgba(0, 138, 9, 0.842) 12%, rgba(11, 86, 4, 0.842) 41%, rgba(26, 89, 43, 0.842) 87%);
}

.maxH{
    max-height: 73vh;
}

.blurC{
    filter: blur(2px);
}

.tranAnima{
    transition: 1s ease-in-out;
}
.tranAnimaS{
    transition: 0.2s ease-in-out;
}

.indexZ{
    z-index: 9;
}

.input-bck{
    background-color: #fafafa;
}

.footer-back{
    background: rgb(0,164,38);
    background: linear-gradient(202deg, rgba(0,164,38,0.4321078773306197) 37%, rgba(88,255,2,0.42930675688244047) 58%);
}
.Lgack{
    background: rgb(0,164,54);
    background: linear-gradient(13deg, rgba(0,164,54,1) 3%, rgba(237,255,2,1) 99%);
}

body{
    overflow-x: hidden;
}


.product-box:hover .spin{
    animation: spinfull 0.5s ease-in-out reverse;
}

@keyframes spinfull {
    from {
        transform: rotate(0deg);
    } to{
        transform: rotate(359deg);
    }
}